body{
    min-width: 960px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family:"lucida Grande",Verdana,"Microsoft YaHei";

}
.header{
    height: 60px;
    background: #eff4fa;
    border: 1px solid #d6dfea;
    overflow: hidden;

}
.header img{
    padding: 10px 40px;
    margin-top: 3px;
}
.header ul {
    float: right;
    list-style: none;
    width: 250px;
}
.header ul li{

    display: inline-block;
}
.header ul a{
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #1d5494;
}
.content {
    width: 910px;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}
.content .recommend{
    width: 520px;
    height: 460px;
    margin-top: 15px;
    position: relative;
    float: left;
    /*background: url("./change.png") no-repeat top right;*/
}
.content .recommend .text{
    width: 210px;
    margin-top: 25px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.content .recommend img{
    position: absolute;
    top:0;
    right: 5px;
}
.content .recommend .text p{
    font-size: 14px;
    line-height: 12px;
}
h2{
    color: #6f95c8;
    font-weight: normal;
}
.content .login{
    width: 330px;
    height: 440px;
    border: 1px solid #a0b1c4;
    border-radius: 5px;
    margin-top: 25px;
    float: right;
    overflow: hidden;
}
.content .login .head{
    height: 35px;
    background-color:#f9fbfe ;
    border-bottom: 1px solid #c0cdd9;
    padding: 9px;
    margin-top: 0;
    /*border-radius: 5px;*/
}
.content .login .head ul{
    list-style: none;
    float: left;
}
.content .login .head li{
    display: inline-block;
}
.content .login .head a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding-right: 13px;
    padding-left: 48px;
    padding-top: 5px;
}
.content .login .form{
    margin: 35px 25px auto;

}
.content .login input{
    width: 275px;
    height: 30px;
    line-height:70px;
}
.content .login .spe{
    width: 135px;
    height: 30px;
    line-height:70px;
}
.content .login img{
    height: 37px;
    width: 134px;
    float: right;
}
.content .login a{
    font-size: 12px;
    text-decoration: none;
    color:#225592;
    float: right;
}
.content .login label{
    font-size: 12px;

}
.content .login .box{
    width: 15px;
    height: 15px;
    border: 1px solid #a0b1c4;
    display: inline-block;
    margin-top: 30px;
}
.content .login p{
    display: inline-block;
    font-size: 12px;
}
/*.content .login .check{*/
    /*width: 10px;*/
    /*height: 10px;*/
/*}*/
.content .login button{
    width: 275px;
    height: 45px;
    background:#5a98de;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.content .login .btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: none;

}
.content .login .foot{
    margin-top: 70px;
    float: right;
    padding-right: 7px;
}
.content .login ul{
    list-style: none;
}
.content .login ul li{
    display: inline-block;
}
.footer{
    height: 35px;
    background: #eff4fa;
    border-top: 1px solid #d6dfea;
}
.footer ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding-top: 6px;

}
.footer ul li{
    display: inline-block;
    font-size: 12px;
}
.footer a{
    font-size: 12px;
    color: rgb(34, 85, 146);
    text-decoration: none;
}
.end{
    color: #868686;
}
.content .login .foot a:after,
.footer a:after,
.header ul a:after{
    content: "|";
    color: #868686;
}
.content .login .foot a:hover,
.footer a:hover,
.header ul a:hover
.content .login a:hover{
    text-decoration: underline;
}




